#### This is the scripts for Intermediate Machine Learning from Kaggle.com
#### source code from https://www.kaggle.com/learn/intermediate-machine-learning
###### P.T.
###### Nov 2022

## 5. XGBOOST

### 5.1 Load data

In [11]:
# Load Packages and get directory
import pandas as pd
import numpy as np
import os
from sklearn.model_selection import train_test_split

# Show max columns
pd.set_option('display.max_columns', None)

# Show directory
directory_name = os.getcwd()
os.getcwd()

'/Users/tangpeipei/Documents/Data Science Learning/Github/Machine_Learning_Tutorial/Kaggle_Learn/Intermedium Machine Learning'

In [12]:
# read the data
DATA = pd.read_csv(directory_name+'/melb_data.csv')
DATA.head(3)

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0